/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

div#content {
    padding-top: 60px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-group {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    padding: 5px;
    padding-top: 0px;

    border-radius: 4px;
}

.flex-assignment {
    background: lightgray;
    color: black;
    padding: 5px;

    // From bootflat
    min-height: 44px;
    padding: 5px 12px;

    // Override some column values
    .col-xs-7 {
        padding-left: 5px;
        padding-right: 0;
        // height - 2*padding
        line-height: 34px;
    }

    .col-xs-2 {
        @extend .col-xs-7;
    }

    .col-xs-1 {
        @extend .col-xs-7;
    }
}

.flex-assignment-1 {
    //@extend flex-assignment;
    border-radius: 4px 4px 0 0;
}

.flex-new-assignment {
    @extend .flex-assignment;
    padding: 5px;

    button.btn {
        // pixel fix
        position: absolute;
    }

    border-radius: 0 0 4px 4px;
}
