/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Fonts

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

// Site styles

div#content {
    padding-top: 60px;
}

p {
    // Line-height from bootflat.
    line-height: 1.42857;
    // Extra space between paragraphs.
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-group {
    display: flex;
    flex-direction: column;
    line-height: 34px;
    padding: 5px;
    padding-top: 0px;
}

.flex-assignment {
    background: lightgray;
    color: black;
    padding: 5px;

    // From bootflat
    min-height: 44px;
    padding: 5px 12px;

    // Override some column values
    .col-xs-7 {
        padding-left: 5px;
        padding-right: 0;
        // height - 2*padding
        line-height: 34px;
    }

    .col-xs-2 {
        @extend .col-xs-7;
    }

    .col-xs-1 {
        @extend .col-xs-7;
    }
}

.flex-assignment-1 {
    //@extend flex-assignment;
    border-radius: 4px 4px 0 0;
}

.flex-new-assignment {
    @extend .flex-assignment;
    padding: 5px;

    button.btn {
        // pixel fix
        position: absolute;
    }

    border-radius: 0 0 4px 4px;
}

.panel-title {
    font-weight: bold;
    text-shadow: 2px 2px 2px #FFF;
}

.panel-group-lists .panel-title a:active,
.panel-group-lists .panel-title a:hover,
.panel-group-lists .panel-title a:focus {
    color: #434A54;
}
