{% extends "gradecalc/base.html" %}
{% block title %}Grade Calculator{% endblock %}
{% block content %}
    <div id="courses" class="panel-group panel-group-lists collapse in">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#collapseCourseHome" data-parent="#courses"
                       data-toggle="collapse">Home</a>
                </h4>
            </div>
            <div id="collapseCourseHome" class="panel-collapse collapse in flex-container">
                <div class="panel-body">
                    <p>Some default stuff</p>
                </div>
            </div>
        </div>
        {% for course in courses %}
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" href="#collapseCourse{{ course.course_id }}"
                       data-parent="#courses" data-toggle="collapse">{{ course.name }}</a>
                </h4>
            </div>
            <div id="collapseCourse{{ course.course_id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {# Only PercentCourses have groups. #}
                    {% for group in course.group_set.all %}
                    <div class="flex-group">
                        {{ group.name }}: {{ group.percent }}%<br>
                        {% for assignment in group.percentassignment_set.all %}
                        <div class="flex-assignment flex-assignment-{{ forloop.counter }}">
                            <div class="col-xs-7">{{ assignment.name }}</div>
                            <div class="col-xs-2">{{ assignment.percent }}%</div>
                        </div>
                        {% endfor %}
                        <div class="flex-new-assignment">
                            <div class="col-xs-7">
                                <input placeholder="Name" class="form-control"
                                       name="assignment_name"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Percent" type="number" class="form-control"
                                       min=0 max=100 step=1 name="percent"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Grade" type="number" class="form-control"
                                       min=0 step=1 name="grade"></input>
                            </div>
                            <div class="col-xs-1">
                                <input type=hidden value="{{ group.name }}" name=group></input>
                                <button class="btn">+</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {# Now do the PointsCourses. #}
                    {% if course.pointsassignment_set.all %}
                    <div class="flex-group">
                        {% for assignment in course.pointsassignment_set.all %}
                        <div class="flex-assignment flex-assignment-{{ forloop.counter }}">
                            <div class="col-xs-7">{{ assignment.name }}</div>
                            <div class="col-xs-2">{{ assignment.points }}</div>
                        </div>
                        {% endfor %}
                        <div class="flex-new-assignment">
                            <div class="col-xs-7">
                                <input placeholder="Name" class="form-control"
                                       name="assignment_name"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Points" type="number" class="form-control"
                                       min=0 step=1 name="points"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Grade" type="number" class="form-control"
                                       min=0 step=1 name="grade"></input>
                            </div>
                            <div class="col-xs-1">
                                <input type=hidden value="{{ course.course_id }}" name=course></input>
                                <button class="btn">+</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
