{% extends "gradecalc/base.html" %}
{% block title %}Grade Calculator{% endblock %}
{% block content %}
    <div id="courses" class="panel-group panel-group-lists collapse in">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#collapseCourseHome" data-parent="#courses"
                       data-toggle="collapse">Home</a>
                </h4>
            </div>
            <div id="collapseCourseHome" class="panel-collapse collapse in flex-container">
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Donec a diam lectus. Sed sit amet ipsum mauris.
                    Maecenas congue ligula ac quam viverra nec consectetur
                    ante hendrerit. Donec et mollis dolor. Praesent et diam
                    eget libero egestas mattis sit amet vitae augue. Nam
                    tincidunt congue enim, ut porta lorem lacinia
                    consectetur. Donec ut libero sed arcu vehicula ultricies
                    a non tortor. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Aenean ut gravida lorem. Ut turpis
                    felis, pulvinar a semper sed, adipiscing id dolor.
                    Pellentesque auctor nisi id magna consequat sagittis.
                    Curabitur dapibus enim sit amet elit pharetra tincidunt
                    feugiat nisl imperdiet. Ut convallis libero in urna
                    ultrices accumsan. Donec sed odio eros. Donec viverra mi
                    quis quam pulvinar at malesuada arcu rhoncus. Cum sociis
                    natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. In rutrum accumsan ultricies.
                    Mauris vitae nisi at sem facilisis semper ac in
                    est.</p>

                    <p>Vivamus fermentum semper porta. Nunc diam velit,
                    adipiscing ut tristique vitae, sagittis vel odio.
                    Maecenas convallis ullamcorper ultricies. Curabitur
                    ornare, ligula semper consectetur sagittis, nisi diam
                    iaculis velit, id fringilla sem nunc vel mi. Nam dictum,
                    odio nec pretium volutpat, arcu ante placerat erat, non
                    tristique elit urna et turpis. Quisque mi metus, ornare
                    sit amet fermentum et, tincidunt et orci. Fusce eget orci
                    a orci congue vestibulum. Ut dolor diam, elementum et
                    vestibulum eu, porttitor vel elit. Curabitur venenatis
                    pulvinar tellus gravida ornare. Sed et erat faucibus
                    nunc euismod ultricies ut id justo. Nullam cursus
                    suscipit nisi, et ultrices justo sodales nec. Fusce
                    venenatis facilisis lectus ac semper. Aliquam at massa
                    ipsum. Quisque bibendum purus convallis nulla ultrices
                    ultricies. Nullam aliquam, mi eu aliquam tincidunt,
                    purus velit laoreet tortor, viverra pretium nisi quam
                    vitae mi. Fusce vel volutpat elit. Nam sagittis nisi
                    dui.</p>
                </div>
            </div>
        </div>
        {% for course in courses %}
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" href="#collapseCourse{{ course.course_id }}"
                       data-parent="#courses" data-toggle="collapse">{{ course.course_id }}: {{ course.name }}</a>
                </h4>
            </div>
            <div id="collapseCourse{{ course.course_id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {# Only PercentCourses have groups. #}
                    {% for group in course.group_set.all %}
                    <div class="flex-group">
                        {{ group.name }}: {{ group.percent }}%<br>
                        {% for assignment in group.percentassignment_set.all %}
                        <div class="flex-assignment flex-assignment-{{ forloop.counter }}">
                            <div class="col-xs-7">{{ assignment.name }}</div>
                            <div class="col-xs-2">{{ assignment.percent }}%</div>
                        </div>
                        {% endfor %}
                        <div class="flex-new-assignment">
                            <div class="col-xs-7">
                                <input placeholder="Name" class="form-control"
                                       name="assignment_name"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Percent" type="number" class="form-control"
                                       min=0 max=100 step=1 name="percent"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Grade" type="number" class="form-control"
                                       min=0 step=1 name="grade"></input>
                            </div>
                            <div class="col-xs-1">
                                <input type=hidden value="{{ group.name }}" name=group></input>
                                <button class="btn">+</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {# Now do the PointsCourses. #}
                    {% if course.pointsassignment_set.all %}
                    <div class="flex-group">
                        {% for assignment in course.pointsassignment_set.all %}
                        <div class="flex-assignment flex-assignment-{{ forloop.counter }}">
                            <div class="col-xs-7">{{ assignment.name }}</div>
                            <div class="col-xs-2">{{ assignment.points }}</div>
                        </div>
                        {% endfor %}
                        <div class="flex-new-assignment">
                            <div class="col-xs-7">
                                <input placeholder="Name" class="form-control"
                                       name="assignment_name"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Points" type="number" class="form-control"
                                       min=0 step=1 name="points"></input>
                            </div>
                            <div class="col-xs-2">
                                <input placeholder="Grade" type="number" class="form-control"
                                       min=0 step=1 name="grade"></input>
                            </div>
                            <div class="col-xs-1">
                                <input type=hidden value="{{ course.course_id }}" name=course></input>
                                <button class="btn">+</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
